*,
*::before,
*::after {
	background-color: black;
}

body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

h1 {
	font-size: 50px;
	font-weight: normal;
}

h2 {
	font-size: 42px;
	font-weight: 300;
}

a {
	font-size: 16px;
	color: aquamarine;
	display: block;
}

p {
	font-size: 21px;
	color: grey;
}

.mobile-icon {
	margin-top: 25px;
}

.copyright {
	text-align: right;
}
