*,
*::before,
*::after {
	background-color: black;
}

body {
	width: 100vw;
	min-height: 100%;
}

header {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: center;
}

a.excursion-link {
	color: aquamarine;
	font-size: 16px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
